/* Mobile Device */

@media screen and (max-width: 576px) {

    .header-1{
        margin: 15px 15px;
    }
    .main-1{
        margin: 0 0 0 20px;
    }

    .nav-bar {
        flex-direction: column;
    }
    .happy-title{
        font-size: 20px;
    }
    .happy-2-layout ul{
        flex-direction: column;
    }

    /* banner saction */
    .banner {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat center;
        background-size: 500px 100%;
    }

    .banner-title {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
    }

    .banner-description {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }

    .banner-input {
        flex-direction: column;
        margin: 20px 60px;
    }

    .input-manu {
        width: 100%;
    }

    /* out-tour-section */
    .tour-section {
        flex-direction: column;
        width: 330px;

    }

    .tour-title {
        width: 330px;
        color: #131318;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
    }

    .tour-description {
        width: 300px;
        color: #5A5A5D;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    .tour-img img {
        width: 335px;
        height: 342px;
    }
/* Choosw-Your Destination */

    .destination-title {
        font-size: 20px;
        text-align: center;

    }

    .destination-description {
        width: 330px;
        font-size: 14px;
    }

    .img-container {
        flex-direction: column;
        gap: 0;
        margin: 10px 0;
        padding: 0;
    }

    .img-container-2 {
        flex-direction: column;
        gap: 10px;
        margin: 0 0 10px 0;
        padding: 0;
    }

    .img-container-3 {
        flex-direction: column;
        gap: 0;
        margin: 10px 0;
        padding: 0;

    }

    .img-1 {
        background-size: 90%;
        font-size: 20px;
        font-weight: 700;
        padding: 50px 120px 50px 120px;
        margin-bottom: 16px;
    }

    .img-2 {
        background-size: 90%;
        font-size: 20px;
        font-weight: 700;
        padding: 50px 120px 50px 120px;
        margin-bottom: 16px;
    }

    .img-3 {
        background-size: 90%;
        font-size: 20px;
        font-weight: 700;
        padding: 50px 125px 50px 125px;
        margin-bottom: 16px;
    }

    .img-4 {
        background-size: 90%;
        font-size: 20px;
        font-weight: 700;
        padding: 50px 100px 50px 100px;
        margin-bottom: 16px;
    }

    .img-5,
    .img-6,
    .img-7 {
        background-size: 90%;
        font-size: 20px;
        font-weight: 700;
        padding: 50px 120px 50px 120px;
        margin-bottom: 16px;
    }

    /* choose-section */
    .choose-title {
        color: #131318;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
    }

    .choose-description {
        width: 320px;
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        margin: 10px 0;
    }

    /* card-section */
    .card {
        flex-direction: column;
    }

    .card-1,
    .card-2 {
        width: 260px;
        height: 300px;
    }

    .card-3 {
        width: 260px;
        height: 300px;
        margin: 20px 0;
    }

    /* News-section */
    .news-section {
        flex-direction: column;
        margin: 0 20px;
    }

    .news-1 {
        padding: 0;
        margin: 0;
    }

    .news-title {
        font-size: 20px;
    }

    .news-description {
        width: 270px;
        font-size: 14px;

    }

    .news-input input {
        width: 250px;
        height: 45px;
    }

    .news-subscribe button {
        width: 290px;
        height: 45px;
        margin-bottom: 10px;
    }

    .news-img img {
        width: 300px;
        height: 300px;

    }

    .discount {
        width: 200px;
        height: 70px;
        margin-left: 98px;
        position: relative;
        bottom: 105px;
    }

    .discount-discription {
        font-size: 14px;
    }

    .discount-title {
        font-size: 20px;
    }
    .social-icon img{
        margin: 20px 100px;
    }
    .line{
        width: 300px;
    }
}