@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&family=Merriweather:ital,wght@0,400;0,700;1,700;1,900&family=Mulish:wght@400;700;800&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Mulish';
}

.header-1,
.main-1 {
    margin: 50px 135px;
}

/* navigation bar */

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.happy-1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.happy-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.praimary {
    color: #FF5400;
}

.happy-2-layout ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.happy-2-layout a {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

/* banner section */
.banner {
    width: 1170px;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat center;
    background-size: 100%;
    border-radius: 8px;
    margin: 0 auto;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.banner-input {
    display: inline-flex;
    /* border: 2px solid saddlebrown; */
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 20px 185px;
    margin-bottom: 100px;
}

.input-manu {
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn {
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* Out-pupoler-tour */
.tour-section {
    display: flex;
    gap: 50px;
    width: 1170px;
    margin: 100px auto;
}

.tour-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* destination-section  */

.destination-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.des-img {
    margin-top: 24px;
    margin: bottom 100px;
    ;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.img-1 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 125px 230px;
    background: url('../Images/Rectangle\ 5.png') no-repeat;
}

.img-2 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 125px 230px;
    background: url('../Images/Rectangle\ 8.png') no-repeat;
}

.img-container-2 {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.img-3 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 125px 130px;
    background: url('../Images/Rectangle\ 6.png') no-repeat;
}

.img-4 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 125px 140px;
    background: url('../Images/Rectangle\ 7.png') no-repeat;
}

.img-5 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 125px 80px;
    /* margin-left: 10px; */
    background: url('../Images/Rectangle\ 9.png') no-repeat;
}

.img-container-3 {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.img-6 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 130px 155px;
    background: url('../Images/Rectangle\ 11.png') no-repeat;
}

.img-7 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 130px 265px;
    background: url('../Images/Rectangle\ 10.png') no-repeat;
}

/* Why-choose-us */
.choose-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.choose-description {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}

/* card-section */
.card {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 24px;
}

.card-1 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}

.card-2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;
}

.card-3 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 20px auto;
    padding: 30px;
}

.card-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}